.error {border:2px solid #ddd; border-radius:4px;}
.error div {padding:30px;}
.error div span {font-size:20px; font-weight:bold; vertical-align:top; padding-left:10px;}
.error div p {padding:30px; margin-top:20px; border:1px solid #ddd; border-radius:10px; background:#f2f2f2; font-size:14px;line-height:1.8;}
.btnWrap {margin:30px auto 100px auto; text-align:center;}
.container {background:none;}