		</div>		<!-- // end inner div -->
	</div>		<!-- // end content div -->
</section>

<footer>
<img src = "/images/KIOST.png" style = "hight:80px; width:240px;" >
	<address>
		<p>BWMS </p>
		
		<p>Copyright &copy; Ministry of the Interior and Safety. All Rights reserved.</p>
	</address>
</footer>
