<div class="page_box_normal text-center">
	<ul class="pagination pc">

		<li><a href="javascript:${jsFunction}(1);" class="first"><img src="../images/common/first.png" alt="처음"></a></li>
		
		#if($page > 10)
			#set($prevIdx = $page - 10)
			<li><a href="javascript:${jsFunction}(${prevIdx});" class="prev"><img src="../images/common/prev.png" alt="이전"></a></li>
		#end
	
		#foreach( $idx in [$startPage..$endPage] )
			#if($idx != $page)
				<li><a href="javascript:${jsFunction}(${idx});">$idx</a></li>
			#else
				<li><a href="#void" class="active">$idx</a></li>
			#end
		#end
	
	#if($page < $totalPage)
		#if($page /10 != ($totalPage - 1) /10)
			#set($nextIdx = ((($page - 1) / 10) * 10 + 11))
			<li><a href="javascript:${jsFunction}(${nextIdx});" class="next"><img src="../images/common/next.png" alt="다음"></a></li>
		#else
			#if(($page - 1) /10 != ($totalPage - 1 )/10)
				#set($nextIdx = ((($page - 1) / 10) * 10 + 11))
				<li><a href="javascript:${jsFunction}(${nextIdx});" class="next"><img src="../images/common/next.png" alt="다음"></a></li>
			#end
		#end
	#end
	
		<li><a href="javascript:${jsFunction}(${totalPage});" class="last"><img src="../images/common/last.png" alt="마지막"></a></li>
	
	</ul>
</div>
